* {
  font-family: "Helvetica", "Arial", "san-serif";
}

body {
  padding: 0 30px 0 30px;
}

header{
  height: 100px;
  border-bottom: 1px solid #cccccc;
}

header nav ul li{
  display: inline;
}
h3#header{
  float: left;

}
header nav{
  float: right;
}
